body {
  background-color: rgb(200,220,250);
}

.content {
  background-color: rgb(250,247,238);
  max-width: 30%;
  margin: 0 auto;
  padding: 40px 100px;
}

input:invalid {
  background-color: pink;
}
